/* Space out content a bit */

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    background-color: #221919;
    position: fixed;
    overflow: hidden;
    margin: auto;
    width: 100%;

}
.container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.block {
    padding-top: 40px;
    padding-bottom: 10px;
}

.jumbotron {
    background: #221919;
    width: auto;
}


.slider-demo {
    height: 100%
}

.big {  
    font-size: 50px;
    font-weight: 900;
    color: #FFF;
    padding: 10px;
}

.unit {
    margin-top: -10px;
    font-size: 14px;
    font-weight: 900;
    color: #555;
}

.spacer {
    padding-top: 40px;
    padding-bottom: 40px;
}

.icon {
    margin-bottom: -10px;
    height: 30px;
    width: auto;
    /*margin-top: 30px;
    margin-right: 40px*/
}

.icondiv {
    text-align: right;
}

.center {
    text-align: center;

    
}

.presetbtn {
    border-width: 1px;
    border-bottom-style: solid;
    border-color: #ffffff;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    color: #ffffff;
    background-color: #221919;
    text-align: center;
    font-size: 16px;
    margin: 1%;
}

.presetbtn:active {
    border-color: #221919;
    color: #221919;
    background-color: #fff;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}


/* Custom page header */

.header {
    padding-bottom: 20px;
    /*border-bottom: 1px solid #e5e5e5;*/
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 20px;
    font-size: 11px;
}


/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    text-align: center;
    /*border-top: 1px solid #e5e5e5;*/
}


/* Customize container */

@media (min-width: 768px) {
    .container {
        max-width: 730px;
        
        
    }
}

.container-narrow > hr {
    margin: 30px 0;
    
}


/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    
    /*border-bottom: 1px solid #e5e5e5;*/
    background: none;
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}


/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}