/* Space out content a bit */

body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #221919;
}

.div {
    /*DEV TOOL*/
    border: 1px solid #000000;
}



.slider-demo {
    height: 100%
}
.big {
    font-size: 80px;
    font-weight: 900;
    color: #FFF;
}

.unit {
    font-size: 16px;
    font-weight: 900;
    color: #555;
}

.icon {
    height: 30px;
    width: auto;
    margin-top: 46px;
    
}

.cup {
    height: auto;
    width: 30px;
    margin-top: 52px;
    margin-right: -7px;
    text-align: right;
}

.icon-align {
    text-align: right;
}

.amount {
    text-align: left;
    margin-left: 10%;
}

.icon-header {
    margin-right: 5px;
    height: 30px;
    width: auto;
}

.preset {
    margin: 5px;
    text-align: center;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}


/* Custom page header */

.header {
    padding-bottom: 20px;
    /*border-bottom: 1px solid #e5e5e5;*/
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 20px;
    font-size: 11px;
}


/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    text-align: center;
    /*border-top: 1px solid #e5e5e5;*/
}


/* Customize container */

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    /*border-bottom: 1px solid #e5e5e5;*/
    background: none;
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}


/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}