<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="../../favicon.ico">
    <link rel="apple-touch-icon" href="images/80%20-%20Spotlight.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="images/180%20-%20iPhone%206%20Plus.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="images/76%20-%20iPad%20(@1x).png" />
    <link rel="apple-touch-icon" sizes="152x152" href="images/152%20-%20iPad.png" />
    <link rel="apple-touch-icon" sizes="58x58" href="images/58%20-%20Settings.png" />

    <title>Brewsteri</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/css.css" rel="stylesheet">
    <!-- Slider style -->
    <link href="css/slider.css" rel="stylesheet">

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-pure-slider/app/package/angular-pure-slider.min.js"></script>

</head>

<body>

    <div class="container">
        <section class="slider-demo" ng-app="demo" ng-controller="demoCtrl">
            <div class="jumbotron">

                <!--beans & water row -->
                <div class="row spacer">
                <div class="col-xs-6 center">
                    <div>
                        <img src="images/Beans.svg" class="icon">
                    </div>

                    <div class="big">
                        <span class="big" type="text" ng-bind="beans"></span>
                    </div>

                    <div class="unit">g</div>

                </div>

                <div class="col-xs-6 center">

                    <div>
                        <img src="images/Water.svg" class="icon">
                    </div>

                    <div class="big">
                        <span class="big" type="text" ng-bind="water"></span>
                    </div>

                    <div class="unit">g</div>
                </div>
            </div>
                <!-- End of Beans & water -->
                <div class="row spacer">
                <!-- Coffee & Cups -->
                
                <div class="col-xs-6 center">

                    <div>
                        <img src="images/Carafe.svg" class="icon">
                    </div>

                    <div class="big">
                        <span class="big" type="text" ng-bind="coffee"></span>
                    </div>

                    <div class="unit">ml</div>

                </div>

                <div class="col-xs-6 center">

                    <div>
                        <img src="images/Cup.svg" class="icon">
                    </div>

                    <div class="big">
                        <span class="big" type="text" ng-bind="cups"></span>
                    </div>

                    <div class="unit">Cups (1¼ dl)</div>

                </div>
                <!-- End of Coffee & Cups -->
                </div>
                <!--Slider -->

                <div wn-slider ng-model="slider" min="min" max="max" class="slider-wrapper block">
                </div>
                <!--Presets -->
                <!--<div class="presetdiv">
                    <button class="presetbtn" ng-click="preset18()">18g</button>
                    <button class="presetbtn" ng-click="preset30()">30g</button>
                    <button class="presetbtn" ng-click="preset50()">50g</button>
                </div>-->

            </div>
        </section>


    </div>
    <!-- /container -->
    <script>
        var app = angular.module('demo', ['angular-pure-slider'])
            .controller('demoCtrl', ['$scope',
        function ($scope) {

                    $scope.sliderInputValue = 1;
                    $scope.maxValue = 100;
                    $scope.minValue = 0;

                    $scope.slider = 0;
                    $scope.min = 0;
                    $scope.max = 100;



                    // Updates the sliderInputValue when slider used
                    $scope.$watch('slider', function (newValue) {
                        $scope.sliderInputValue = newValue;
                        $scope.myMessage = 'The slider value is: ' + newValue;
                        $scope.water = Math.floor(newValue * 16.6945);
                        $scope.beans = Math.floor(newValue);
                        //$scope.coffee = Math.floor((newValue * 16.6945) * 0.9);
                        $scope.coffee = Math.floor((newValue * 16.6945) * 0.882353);
                        var coffeeWeight = $scope.coffee; 
                        $scope.cups = Math.floor(coffeeWeight / 125);
                        //$scope.cups = Math.floor(newValue / 16.6945);

                    });

                    $scope.$watch('min', function (newValue) {
                        $scope.minValue = newValue;
                    });

                    $scope.$watch('max', function (newValue) {
                        $scope.maxValue = newValue;
                    });

                    $scope.increaseSlider = function () {
                        $scope.slider++;
                    };

                    $scope.decreaseSlider = function () {
                        $scope.slider--;
                    };

                    // Presets
                    $scope.preset18 = function () {
                        $scope.magicNumber = 18;
                        $scope.slider = 18;
                    };

                    $scope.preset30 = function () {
                        $scope.magicNumber = 30;
                        $scope.slider = 30;
                    };

                    $scope.preset50 = function () {
                        $scope.magicNumber = 50;
                        $scope.slider = 50;
                    };
        }
      ]);
    </script>

</body>

</html>